@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 82 13% 85%;
    --foreground: 82 5% 0%;
    --card: 82 13% 90%;
    --card-foreground: 82 5% 10%;
    --popover:  82 13% 95%;
    --popover-foreground: 82 95% 0%;
    --primary: 74 100% 35%;
    --primary-foreground: 0 0% 0%;
    --secondary: 82 13% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 44 13% 85%;
    --muted-foreground: 82 5% 35%;
    --accent: 44 13% 80%;
    --accent-foreground: 82 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 82 5% 90%;
    --border: 82 20% 50%;
    --input: 82 20% 18%;
    --ring: 82 84.5% 67.1%;
    --radius: 0rem;

    /* code highlight */
    --sh-class: #2d5e9d;
    --sh-identifier: #354150;
    --sh-sign: #8996a3;
    --sh-string: #007f7a;
    --sh-keyword: #e02518;
    --sh-comment: #a19595;
    --sh-jsxliterals: #6266d1;
    --sh-property: #e25a1c;
    --sh-entity: #e25a1c;
  }

  .dark {
    --background: 82 13% 5%;
  --foreground: 82 5% 90%;
  --card: 82 13% 0%;
  --card-foreground: 82 5% 90%;
  --popover: 82 13% 5%;
  --popover-foreground: 82 5% 90%;
  --primary: 74 100% 50%;
  --primary-foreground: 0 0% 0%;
  --secondary: 82 13% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 44 13% 15%;
  --muted-foreground: 82 5% 60%;
  --accent: 44 13% 15%;
  --accent-foreground: 82 5% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 82 5% 90%;
  --border: 82 20% 28%;
  --input: 82 20% 18%;
  --ring: 82 84.5% 67.1%;
  --radius: 0rem;

    /* code highlight */
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground flex flex-col min-h-screen;
  }
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3 text-sm;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose p {
  @apply my-4 text-neutral-800 dark:text-neutral-200;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-2;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-6 mb-2;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}

.blockquote > #note::before {
  content: "#";
  padding: 5px;
}

.glass {
  backdrop-filter: blur(3px) saturate(180%);
  -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  background-color: rgba(153, 153, 153, 0.179);
 
  border: 1px solid rgba(255, 255, 255, 0.125);
}



@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Micro+5&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');


.hero {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;

  
}

.binary {
  font-family: "Micro 5", serif;
  
}

.title {
  font-family: "Instrument Serif", monospace;
  font-weight: 400;
  font-style: normal;
}

